@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #565869;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #acacbe;
}